<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="src/main/resources/transaction.log"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="ImmediateFlush" value="true"/>
        <param name="datePattern" value="'.'yyyy-MM-dd-HH-mm"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}  - %m%n"/>
        </layout>
    </appender>

    <logger name="model.TransactionDTO" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="file"/>
    </logger>

</log4j:configuration>